{% extends 'CurveApp/base.html' %}
{% block title %}Curve{% endblock %}
{% block content %}
<section id="home">
    <div class="container">
    <div class="row">
          
        <div class="col-sm-12"> 
            <div class="text-center">
            <h1>Curve</h1>
            <h3>The best free online music player you got.</h3>
            </div>    
        </div>
    </div> 
    </div>    
</section>
<section id="albums">
    <div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel panel-header">
                <h6>Genres</h6>
            </div>
            <div class="panel panel-body">
                <ul class="genre-list">
                    <li>Rock</li>
                    <li>RnB</li>
                    <li>HipHop</li>
                    <li>Gospel</li>
                    <li>Alternative Rock</li>
                    <li>Country</li>
                </ul>
            </div>
        </div>    
    </div>
     
    <div class="col-md-10" style="border-radius: 10px"> 
        {% if message %}
       <div class="alert alert-{{msgtype}}">
            <h6 class="text-{{msgtype}} text-center">{% if head %}{{head}} {{ request.user.username}}.{% endif %} {{ message }}</h6>
        </div>    
        {% endif %}
        <div class="row">    
                {% if album %}
                {% for album in album %}
            <div class="col-sm-3">
        <div class="card">
        <div class="card-header">
            <a href="{% url 'CurveApp:detail' album.id %}"><img src="{{album.album_cover.url}}" class="img img-responsive img-rounded" style="height:150px; width:150px; border-radius: 150px;"></a>
        </div>

                <div class="card-body">
                    <p><i class="fa fa-microphone"></i> &nbsp; {{album.album_name}}</p>  
                    <p><i class="fa fa-user-circle"></i> &nbsp; {{album.album_artist}}</p>
                    {% if album.user.username == request.user.username %}
                    <div class="float-right">
                        <a href="{% url 'CurveApp:delete-album' album.id %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>&nbsp;
                            <a href="{% url 'CurveApp:update-album' album.id %}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                    </div>
                    {% endif %}
                </div>  
                <div class="card-footer"></div>    
            <p class="text-center"><i class="fa fa-upload"></i> <a href="{% url 'CurveApp:profile' album.user.id %}">{% if album.user.username == request.user.username %}you{% else %} {{ album.user.username }}{% endif %}</a></p>
                </div>  
            
                </div>    
            {% endfor %}
                {% endif %}
                </div>
                
                



        </div>
    </div>
     
</section>    
<div class="footer" style="background: inherit;">
<div class="row" style="overflow: hidden">
<div class="col-sm-4">    
    <p style="color: #35A25E">&copy; Curve Inc. 2019</p>
</div>
<div class="col-sm-4"></div>    
<div class="col-sm-4">    
<div class="float-right" style="color: #35A25E">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
</div>   
</div>    
</div>    
</div>
{% endblock %}
